# From: https://github.com/Microsoft/TypeScript/blob/master/.gitignore

# Node
node_modules/
.node_modules/

# Build output
docs/
dist/

# Temp files
\#*\#
.\#*

# VSCode
**/.DS_Store
.settings
**/.vs
**/.vscode/*
!**/.vscode/tasks.json
!**/.vscode/settings.template.json
!**/.vscode/launch.template.json
!**/.vscode/extensions.json

# Webstorm
.idea

# Yarn
yarn-error.log
.parallelperf.*

# ESLint
.eslintcache

# Samples folder used for testing
samples/**/*
