<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <title>Infiniforge</title>
    <link rel="stylesheet" type="text/css" href="./views/style/style.css">
    <script src="./lib/three.js"></script> 
    <script src="./js/sword_scene.js"></script>
</head>
<body>
    <div id="options_pane">
        <form id="renderForm" method="POST">
            <fieldset>
                <legend>Infiniforge</legend>

                <p>Sword Style:
                <select name="swordStyle">
                    <option value="short">Short</option>
                    <option value="long" selected="selected">Long</option>
                    <option value="buster">Great</option>
                </select>
                </p>

                <p>Hands required:
                <select name="numHands">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
                </p>

                <p>Seed:
                    <input type="text" placeholder="RandomSeed" name="seed"/>
                </p>

                <input type="submit" value="Forge!"/>
            </fieldset>
        </form>
    </div>
    <div id="scene_pane">
        <script>
            loadForge();
        </script>
    </div>
</body>
</html> 