div#options_pane {
    align-content: left;
    /* float: left; */
    text-align: center;
    color: blue;
}

div#scene_pane {
    align-content: right;
    float: left;
}

body { 
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
}