div#container {
    width: 800px;
    height: 800px;
}


div#options_pane {
    float: left;
    text-align: center;
    color: blue;
}

div#scene_pane {
    float: left;
}

canvas {
    padding: 10px;
    width: 100%;
    height: 800px;
}
