<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>Infiniforge</title>
    <link rel="stylesheet" type="text/css" href="/sandbox/style.css"/>
    <script src="/sandbox/three.min.js" type="text/javascript"></script>
    <script src="/sandbox/GLTFLoader.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div id="container">
        <div id="options_pane">
            <p>Sword Style:
            <select id="sword-style" name="swordStyle">
                <option value="short">short</option>
                <option value="long" selected="selected">long</option>
                <option value="great">great</option>
            </select>
            </p>

            <p>Seed:
                <input type="text" id="seed-value" placeholder="RandomSeed" name="seed"/>
            </p>

            <input type="submit" value="Forge!" onclick="forgeSword()"/>
        </div>

        <div id="scene_pane">
            <canvas id="threejs-canvas"></canvas>
        </div>
    </div>

    <script type="text/javascript">
        var scene, camera, renderer;
        var swordModel, material;

        // Set the keyboard handlers
        document.onkeyup = handle_keyboard_up;
        document.onkeydown = handle_keyboard_down;

        // Controls the rotation of the sword
        var rotation = {
            "left": false,
            "right": false,
            "up": false,
            "down": false
        };

        function handle_keyboard_down(event) {
            event = event || window.event;
            if (event.which == 65) {
                // LEFT
                rotation["left"] = true;
                rotation["right"] = false;
            }
            else if (event.which == 68) {
                // RIGHT
                rotation["right"] = true;
                rotation["left"] = false;
            }
            else if (event.which == 87) {
                // UP
                rotation["up"] = true;
                rotation["down"] = false;
            }
            else if (event.which == 83) {
                // DOWN
                rotation["down"] = true;
                rotation["up"] = false;
            }
        }


        function handle_keyboard_up(event) {
            event = event || window.event;
            if (event.which == 65) {
                // LEFT
                rotation["left"] = false;
                rotation["right"] = false;
            }
            else if (event.which == 68) {
                // RIGHT
                rotation["right"] = false;
                rotation["left"] = false;
            }
            else if (event.which == 87) {
                // UP
                rotation["up"] = false;
                rotation["down"] = false;
            }
            else if (event.which == 83) {
                // DOWN
                rotation["down"] = false;
                rotation["up"] = false;
            }
        }

        // Borrowed from MDN Math.Random()
        function getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }

        // Creates a rnadom seed using upper case, lowercase
        // and numbers
        function randomizeSeed(seedLength = 7) {
            var seed = "";
            numberAsciiOffset = 48;
            lowercaseAsciiOffset = 97;
            uppercaseAsciiOffset = 65;
            for (var i = 0; i < seedLength; i++) {
                var rand_num = Math.random();
                if (rand_num <= 0.33) {
                    seed += String.fromCharCode(numberAsciiOffset + getRandomInt(10));
                }
                else if (rand_num > 0.33 && rand_num <= 0.66) {
                    seed += String.fromCharCode(lowercaseAsciiOffset + getRandomInt(25));
                }
                else {
                    seed += String.fromCharCode(uppercaseAsciiOffset + getRandomInt(25));
                }
            }
            document.getElementById('seed-value').value = seed;
        }

        function forgeSword() {


            var protocol = window.location.protocol;
            var host = window.location.host;
            var port = window.location.port;
            var weaponType = 'sword';
            var weaponStyle = document.getElementById('sword-style').value;
            var seed = document.getElementById('seed-value').value;
            var requestString = `${protocol}//${host}/api/forge/${weaponType}/${weaponStyle}/${seed}`

            console.log(requestString);
            $.ajax({
                method: 'GET',
                url: requestString
            }).then((res) => {
                var loader = new THREE.GLTFLoader();
                loader.parse(
                    JSON.stringify(res),
                    '',
                    (gltf) => {
                        scene.remove(swordModel);
                        swordModel = gltf.scene.children[0];
                        swordModel.position.y = -3;
                        swordModel.rotation.y += Math.PI / 2;
                        scene.add(swordModel);
                    },
                    (err) => {

                    }
                );
            });
        }

        function init() {
            var ThreeJSCanvas = document.getElementById("threejs-canvas");

            renderer = new THREE.WebGLRenderer({ canvas: ThreeJSCanvas, antialias: true });
            var renderer_rect = renderer.domElement.getBoundingClientRect();
            renderer.setSize(renderer_rect.width, renderer_rect.height);
            renderer.setPixelRatio(window.devicePixelRatio);

            var aspect = renderer_rect.width / renderer_rect.height;
            camera = new THREE.PerspectiveCamera(75, aspect, 1, 1000);
            camera.position.z = 7;
            camera.updateProjectionMatrix();

            scene = new THREE.Scene();
            scene.background = new THREE.Color(0xf0f0f0);

            var light = new THREE.DirectionalLight(0xffffff, 1);
            light.position.set(1, 1, 1).normalize();
            scene.add(light);

            //var geometry = new THREE.BoxBufferGeometry(1, 1, 1);
            //material = new THREE.MeshLambertMaterial({ color: THREE.VertexColor  })
            //swordModel = new THREE.Mesh(geometry, material);
            //scene.add(swordModel);
        }

        function animate() {
            requestAnimationFrame(animate);

            if (rotation["left"]) {
                swordModel.rotation.y -= 0.05;
            }
            else if (rotation["right"]) {
                swordModel.rotation.y += 0.05;
            }

            if (rotation["down"]) {
                swordModel.rotation.x += 0.05;
            }
            else if (rotation["up"]) {
                swordModel.rotation.x -= 0.05;
            }

            renderer.render(scene, camera);
        };

        init();
        animate();
    </script>
</body>
</html>